extends base.pug

block style 
    style 
        include ../static/style.css 
        include ../static/styleAbout.css 

block content 
    div.container
        h1 Let's make DANCE a new CULTURE!! 
        div For details about our activities, Dance styles, fees, discounts, etc - 8446158860 / 62 or  www.PhoenixDanceAcademy.com "If you have the will, we will give you the skill.”We, at PDA take full pride and joy in embracing people from all cultural backgrounds and educating them in one of our most beautiful heritage…DANCE! We strongly believe in the fact that “With proper guidance, ANYONE can learn ANYTHING, provided he/she has the dedication and perseverance to do it!!…NOTHING ELSE MATTERS !!”.We follow:1) “Pursue a skill till you push it into the REALMS OF MAGIC.”2) “And those who were seen dancing were considered insane by those who couldn’t hear the music.” – George CarlinSo come and dance, without any inhibitions….!!“Without music, life would be a mistake…. I would only believe in a God who knew how to dance.” – Friedrich NietzscheThe Academy’s aim is to help promote dance, fitness and health, together with helping students build confidence, self esteem and their career prospects, whilst gaining knowledge about Latin Dances such as Salsa, Rumba, Jive, ChaCha, Merengue, Rueda and other dance forms such as HipHop, Bollwood, Contemporary, Belly Dancing, Bharatnatyam, Poi Dancing, Kids Dancing, etc. We also have Fitness programs like Zumba, Yoga, etc.We wish to create a place where there is only one common passion…dance, dance and DANCE!! We mean ONLY DANCE and no business…and that’s why Prices of our courses are very nominal as compared to other’s. Also you are more than welcome to take any FREE DEMO / TRIAL of any dance form you want to ( that we teach ). This is to help you know that we can teach and you can learn Dancing !!  All this for fulfilling only one aim, one mission – Let’s make DANCE a new CULTURE!!         

