doctype html 
html 
    head
        meta(name="theme-color",content="#4285f4") 
        title Phoenix Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar 
            ul 
                #logo 
                    img(src="../static/logo1.png")
                    | PDA 
                li #[a(href="/") Home] 
                li #[a(href="/About") About]
                li #[a(href="/Apply") Apply]
                li #[a(href="/Class") Class Info]
                li #[a(href="/Contact") Contact Us]
    
        block content 
        block foot 
            footer#footer
                | Copyright © 2021 SiddhantDanceAcademy.com | All rights are reserved