doctype html 
html 
    head 
        title Sid Dance Academy 
        block scripts 
        block style 
    body 
        nav#navbar 
            ul 
                #logo 
                    img(src="../static/logo1.png")
                    | SDA 
                li #[a(href="/") Home] 
                li #[a(href="/") About]
                li #[a(href="/contact") Contact Us]
                li #[a(href="/") Class Info]
                li #[a(href="/") Services]
    
        block content 
        block foot 
            footer#footer
                | Copyright © 2021 SiddhantDanceAcademy.com | All rights are reserved