extends base.pug

block style 
    style 
        include ../static/style.css 
        include ../static/styleContact.css 

block content 
    div.container 
        h1 You can contact us 
        ul
            li  Mobile No : 9876543210 
            li  Email Id : PhoenixDanceAcademy@gmail.com  
            li  Address : B 304 Amar Enclave, Prashant Nagar Ajni, Prashant Nagar, Nagpur - 440015, Behind Rosetta Club
