extends base.pug

block style 
    style 
        include ../static/style.css 

block content     
    section#introSection
        div Welcome to Phoenix Dance Academy
        div.small Eat Sleep Dance Repeat
    
    section#missionSection
        h2 Our Mission 
        .card
            h3 Dance Perfection
            div.card-box 
                div.card-img
                    img(src="../static/logo2.png")
                div.card-content 
                    p We provide the mastery in Dance 
        .card 
            h3 Dance the way like 
            div.card-box 
                div.card-img
                    img(src="../static/logo5.png")
                div.card-content 
                    p We provide the platform to express yourself
        .card 
            h3 Expert Teaching 
            div.card-box 
                div.card-img
                    img(src="../static/logo4.png")
                div.card-content 
                    p We provide best teachers in the world

    section#sponsorsSection
        h2 Our Sponsors
        #sponsors 
            img(src="../static/sp5.png", alt="sponsor logo" Class="spImage")
            img(src="../static/sp2.png", alt="sponsor logo" Class="spImage")
            img(src="../static/sp3.png", alt="sponsor logo" Class="spImage")
            img(src="../static/sp4.png", alt="sponsor logo" Class="spImage")

    