.container h1{
    font-size: 55px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
.container ul li{
    padding-bottom: 25px;
    padding-left: 25%;
    padding-right: 15%;
    padding-top: 5px;
    font-size: xx-large;
}
.container{
    padding-bottom: 28vh;
}
