.container{
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container h1{
    text-align: center;
    padding-bottom: 15px;
}
.container div{
    font-size: 20px;
    color:black;
    padding-bottom: 40px;
}